@font-face {
  src: url("fonts/Montserrat.ttf");
  font-family: "Montserrat";
}
* {
  margin: 0;
  padding: 0;
}
header.wrap {
  width: 100vw;
  height: 100vh;
  min-height: 540px;
}
header.wrap > input {
  display: none;
}
.slider {
  background: #4a4844;
  background-position: center;
  background-size: cover;
  z-index: -1;
  height: inherit;
  width: inherit;
  position: absolute;
}
.wrap .control {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  top: 90%;
  margin-top: 20px;
}
.wrap label.cntr {
  cursor: pointer;
  display: inline-block;
  height: 11px;
  width: 11px;
  margin: 6px;
  position: relative;
  border-radius: 50%;
  background: #848587;
}
.wrap label.cntr:after {
  border: 2px solid transparent;
  content: " ";
  display: block;
  position: absolute;
  border-radius: 50%;
}
#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3),
#point4:checked ~ .control label:nth-of-type(4) {
  border: 2px solid #6f6760;
  background: transparent;
}
#point1:checked ~ .slider {
  background-image: url(/img/main-photo.png);
}
#point2:checked ~ .slider {
  background-image: url(/img/header_pic_2.jpg);
}
#point3:checked ~ .slider {
  background-image: url(/img/header_pic_3.jpg);
}
#point4:checked ~ .slider {
  background-image: url(/img/header_pic_4.jpg);
}
.nav_wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 0 10px 0;
  padding-left: 10px;
  padding-right: 10px;
}
.nav_wrap a {
  text-decoration: none;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.logo-img {
  max-width: 62px;
}
.logo-caption {
  margin-left: 2px;
  font-size: 34px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  line-height: 1.2;
}
.all-nav {
  display: flex;
  justify-content: flex-end;
}
.main-nav a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0 12px;
}
.main-nav a:hover {
  color: #c7b299;
}
.icon-nav {
  margin-left: 23px;
}
.icon-nav-item {
  margin-left: 26px;
  fill: #ffffff;
}
.icon-nav-item:hover {
  fill: #c7b299;
}
@media (max-width: 992px) {
  .all-nav {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .icon-nav {
    margin: 12px;
  }
  .icon-nav-item {
    margin-left: 26px;
  }
  .main-nav a {
    font-size: 13px;
    margin: 0 7px;
  }
}
.hidden-nav {
  display: none;
}
@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
  .nav_wrap {
    flex-direction: row-reverse;
  }
  .icon-nav {
    padding-left: 40px;
  }
  .hidden-nav {
    display: block;
  }
  .hidden-nav-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 45%;
    left: -45%;
    background-color: #ff4545;
    height: 100%;
    top: 0;
    padding: 39px 0 10px 0;
    z-index: 2;
    transition: left .2s;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .hidden-nav-list > a {
    margin: 12px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }
  .hidden-nav-list > a:hover {
    color: #c7b299;
  }
  .hidden-nav-ticker {
    display: none;
  }
  .btn-nav {
    position: absolute;
    padding: 39px 0 10px 0;
    top: 4px;
    left: 34px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 24px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .btn-nav span {
    display: block;
    height: 2px;
    background-color: #fff;
    margin: 9px 0 0;
    position: relative;
  }
  .hidden-nav-ticker:checked ~ .btn-nav {
    left: 38%;
  }
  .hidden-nav-ticker:checked ~ .hidden-nav-list {
    left: 0;
  }
  .hidden-nav-ticker:checked ~ .btn-nav span.first {
    -webkit-transform: rotate(45deg);
    top: 12px;
  }
  .hidden-nav-ticker:checked ~ .btn-nav span.second {
    opacity: 0;
  }
  .hidden-nav-ticker:checked ~ .btn-nav span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
  }
}
.header-content-wrap {
  max-width: 1620px;
  height: 87vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-content-wrap > h2 {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 400;
}
.header-content-wrap > h1 {
  font-size: 52px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 13px;
}
.header-content-wrap > p {
  display: block;
  max-width: 590px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 50px;
}
button.main-button {
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  width: 170px;
  height: 53px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 1.643;
}
button.main-button:hover {
  background-color: #ffffff;
  color: #998675;
}
button.main-button:active {
  background-color: #4a4844;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header-content-wrap > h2 {
    font-size: 28px;
  }
  .header-content-wrap > h1 {
    font-size: 38px;
  }
  .header-content-wrap > p {
    font-size: 12px;
    margin: 0 25px;
  }
}
@font-face {
  src: url("fonts/Montserrat.ttf");
  font-family: "Montserrat";
}
* {
  margin: 0;
  padding: 0;
}
.block-2 {
  background: #ffffff;
}
.block-2-wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 40px 0;
}
.subblock-2 {
  padding: 40px 15px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  max-width: 46%;
}
.subblock-icon {
  display: block;
  margin: 0 auto;
  fill: #555555;
}
span.subblock-2-title {
  display: block;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  color: #555555;
  padding: 30px 0 20px 0;
}
p.subblock-2-txt {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  line-height: 1.714;
  position: relative;
}
p.subblock-2-txt:after {
  width: 70px;
  border-bottom: 3px solid #f1eee9;
  padding-left: 10px;
  content: " ";
  display: block;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -35px;
}
.subblock-2:hover span.subblock-2-title {
  color: #c7b299;
}
.subblock-2:hover p.subblock-2-txt:after {
  border-bottom-color: #c7b299;
}
.subblock-2:hover .subblock-icon {
  fill: #c7b299;
}
@media (max-width: 992px) {
  .block_2_wrap {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .subblock-2 {
    max-width: 100%;
  }
}
.block-3 {
  background: #fbfaf8;
  overflow: hidden;
}
.block-3-wrap {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  padding: 55px 0 0 0;
  flex-wrap: wrap;
  justify-content: center;
}
h2.block-3-title {
  width: 100%;
  display: block;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #555555;
  margin: 25px 15px;
  text-align: center;
}
p.block-3-txt {
  display: block;
  max-width: 50%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  line-height: 1.75;
  margin: 0 15px;
  text-align: center;
}
.block-3-img {
  width: 100%;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
  position: relative;
}
.left_img {
  display: block;
  width: 50%;
}
.center_img {
  width: 50%;
  position: absolute;
  left: 25%;
  z-index: 0;
}
.right_img {
  width: 50%;
  display: block;
}
.block-4 {
  background-image: -webkit-linear-gradient(bottom, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(bottom, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to top, #211b19 0%, #4e3427 100%);
}
.block-4-wrap {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3.6% 3%;
}
.block-4-wrap h2 {
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 400;
}
.block-4-wrap h2 > span {
  color: #c7b299;
}
.block-4-wrap p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #615855;
  margin-top: 10px;
}
.block-5 {
  background-color: #ffffff;
}
.block-5-wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block-5-wrap h2 {
  width: 100%;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #555555;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  margin: 80px 0 0 0;
}
.block-5-wrap p {
  display: block;
  width: 66%;
  margin: 30px 17%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  line-height: 1.75;
  text-align: center;
}
.block-5-btn-group {
  display: block;
  width: 66%;
  margin: 0 17% 40px 17%;
  text-align: center;
}
.block-5-btn-group button {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  line-height: 1.5;
  text-align: center;
  border: solid 1px #ebebeb;
  border-radius: 3px;
  background-color: rgba(17, 17, 17, 0);
  padding: 10px 20px;
}
.block-5-btn-group button:hover {
  color: #ffffff;
  background-color: #998675;
}
.projects-block-wrap {
  width: 100%;
}
.project-item {
  float: right;
  width: 31%;
  background: #fff454;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1.75%;
}
.project-item:nth-child(3n) {
  margin-left: 0;
}
.project-item:nth-child(-n+3) {
  margin-top: 0;
}
.project-item:nth-child(3n+1) {
  margin-right: 0;
}
.project_image {
  overflow: hidden;
  background-color: orange;
  height: 66%;
  width: 100%;
}
@media (max-width: 890px) {
  .projects-block-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-item {
    width: 48%;
  }
  .project-item:nth-child(n) {
    margin: 2% 0;
  }
}
.project-name {
  height: 35%;
  width: 100%;
  background: green;
  position: relative;
}
.project-name::before {
  content: '';
  position: absolute;
  top: -35px;
  left: 20px;
  border: 20px solid transparent;
  border-bottom: 20px solid green;
}
.project-name h3 {
  margin: 30px 8px 8px 30px;
  font-size: 20px;
  font-family: "Raleway";
  color: #c7b299;
}
.project-name p {
  font-size: 14px;
  font-family: "Montserrat";
  color: #d1d1d1;
  margin: 8px 8px 8px 30px;
}
.hidden-icon {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  display: none;
}
.project-item:hover .hidden-icon {
  display: flex;
}
.hidden-icon:hover svg {
  fill: blue;
}
