@import "variable";
@font-face{
    src: url("fonts/Montserrat.ttf");
    font-family:"Montserrat";
} 

.block_2 {
	height: @block-height;
	width: @width-block-2;
    height: 
    margin: 0 auto;
    background-color: red;
    display: flex;
    justify-content: center;
}