//width

@width-header:100vw;
@width-nav:1170px;
@width-block-2:1170px;
@width-header-content:1620px;
@width-main:1280px;
@width-footer:80%;
@width-hidden-nav:45%;
@width-slider-label:11px;
@width-subblock-2-after-line:70px;





//heights
@header-height:100vh;
@min-header-height:540px;
@nav-height:13%;
@block-height:200px;
@height-slider-label:11px;




//paddings
@nav-padding-top: 39px 0 10px 0;


//fonts
@font-main:"Montserrat", sans-serif;
@font-add: "Raleway", sans-serif;


//colors

@main-color:#4a4844;
@block-2-color: #ffffff;
@add2-color:#745767;

@hidden-nav-back-color:#ff4545;

@font-logo-color:#ffffff;
@font-logo-color-hover:  rgb(199, 178, 153);
@button-header-color:#998675;
@slider-label-color:#848587;
@slider-checked-border:2px solid #6f6760;
@subblock-2-title-color:rgb(85, 85, 85);

@subblock-2-txt-color:rgb(140, 140, 140);
@subblock-2-after-line-color:3px solid rgb(241, 238, 233);

@subblock-2-hover-color:rgb(199, 178, 153);
    
