//width

@width-header:100vw;
@width-nav:1170px;
@width-block-2:1170px;
@width-block-3:1230px;
@width-block-4:1230px;
@width-block-5:1170px;
@width-header-content:1620px;
@width-main:1280px;
@width-footer:80%;
@width-hidden-nav:45%;
@width-slider-label:11px;
@width-subblock-2-after-line:70px;
@width-block-3-pic:50%;
@width-project-block:100%;
@width-block-7:1170px;
@width-block-8:1000px;
@width-subblock-8-after-line:30px;



//heights
@header-height:100vh;
@min-header-height:540px;
@nav-height:13%;
@block-height:200px;
@height-slider-label:11px;




//paddings
@nav-padding-top: 39px 0 10px 0;


//fonts
@font-main:"Montserrat", sans-serif;
@font-add: "Raleway", sans-serif;


//colors

@main-color:#4a4844;
@block-2-color: #ffffff;
@block-3-color: #fbfaf8;
@block-5-color: #ffffff;




@add2-color:#745767;

@hidden-nav-back-color:#ff4545;

@font-logo-color:#ffffff;
@font-logo-color-hover:  rgb(199, 178, 153);


@color-main-button:#998675;
@color-main-button-hover:#ffffff;
@color-main-button-active: #4a4844;
@color-main-button-txt:#ffffff;
@color-main-button-txt-hover:#998675;
@color-main-button-txt-active: #ffffff;   

@slider-label-color:#848587;
@slider-checked-border:2px solid #6f6760;
@subblock-2-title-color:rgb(85, 85, 85);

@subblock-2-txt-color:rgb(140, 140, 140);
@subblock-2-after-line-color:3px solid rgb(241, 238, 233);

@subblock-2-hover-color:rgb(199, 178, 153);
@block-3-title-color:rgb(85, 85, 85);
@block-3-txt-color:rgb(140, 140, 140);
@block-4-title-color:#ffffff;
@block-4-title-span-color:rgb(199, 178, 153);
@block-4-txt-color:rgb(97, 88, 85);
@block-5-title-color: rgb(85, 85, 85);
@block-5-txt-color: rgb(140, 140, 140);


@block-5-project-block-color: #fbfaf8;
@block-5-project-block-before-color:20px solid #fbfaf8;
@block-5-project-title-color:rgb(199, 178, 153);
@block-5-project-txt-color:rgb(209, 209, 209);

@block-6-txt-color: rgb(255, 255, 255);
@block-6-time-color: rgb(199, 178, 153);

@block-7-color:#fbfaf8;
@block-7-title-color:rgb(85, 85, 85);
@block-7-txt-color: rgb(140, 140, 140);

@subblock-8-icon-color:rgb(199, 178, 153);
@subblock-8-number-color: rgb(255, 255, 255);
@subblock-8-after-line-color:2px solid rgb(255, 255, 255);